#welcome-panel{
    -fx-alignment: bottom;
    -fx-background-color: #FFFFFF;
    -fx-padding: 30;
    -fx-font-family: "Helvetica";
}

#welcome-center{
    -fx-border-radius: 20;
}

#welcome-panel .label{
    -fx-text-fill: #000000;
}

#welcome-title-label{
    -fx-font-size: 25;
}

.welcome-sides{
    -fx-border-insets: 200, 0, 0, 0;
    -fx-pref-width: 250;
    -fx-spacing: 20;
    -fx-font-size: 12;

}
